@use 'global' as *;

.top-footer {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(160);
  }
}

// 下層 ダイビング情報
.top-footer--info {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(152);
  }
}

// 料金一覧
.top-footer--price {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(160);
  }
}

// お問い合わせ
.top-footer--sub-contact {
  margin-top: rem(148);
  @include mq(md) {
    margin-top: rem(164);
  }
}

// サンクスページ
.top-footer--thanks {
  margin-top: rem(144);
  @include mq(md) {
    margin-top: rem(120);
  }
}