@use 'global' as *;

.top-footer {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(160);
  }
}

// 下層 ダイビング情報
.top-footer--info {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(152);
  }
}

.top-footer--price {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(160);
  }
}