@use 'global' as *;

.top-contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(160);
  }
}

// 下層 キャンペーン
.top-contact--campaign {
  margin-top: rem(112);
  @include mq(md) {
    margin-top: rem(144);
  }
}

// 下層 私たちについて
.top-contact--about {
  margin-top: rem(102);
  @include mq(md) {
    margin-top: rem(144);
  }
}

// 下層 ダイビング情報
.top-contact--info {
  @include mq(md) {
    margin-top: rem(157);
  }
}