@use 'global' as *;

.top-contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(160);
  }
}

// 下層 キャンペーン
.top-contact--campaign {
  margin-top: rem(112);
  @include mq(md) {
    margin-top: rem(144);
  }
}

// 下層 私たちについて
.top-contact--about {
  margin-top: rem(102);
  @include mq(md) {
    margin-top: rem(144);
  }
}

// 下層 ダイビング情報
.top-contact--info {
  @include mq(md) {
    margin-top: rem(157);
  }
}

// 下層ブログ
.top-contact--sub-blog {
  margin-top: rem(105);
  @include mq(md) {
    margin-top: rem(140);
  }
}

// 下層ブログ詳細
.top-contact--blog-detail {
  margin-top: rem(105);
  @include mq(md) {
    margin-top: rem(148);
  }
}

//下層お客様の声
.top-contact--voice {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(147);
  }
}

//下層FAQ
.top-contact--sub-faq {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(152);
  }
}

//下層料金一覧
.top-contact--sub-price {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(154);
  }
}