@use 'global' as *;

.error404__container {
  text-align: center;
  color: $white;
}

.error404__title {
  font-size: rem(80);
  line-height: calc(96 / 80);
  font-family: $mv-font;
  font-weight: 400;
  letter-spacing: 0.04em;
  @include mq(md) {
    font-size: rem(160);
  }
}

.error404__text {

}

.error404__btn {

}