@use 'global' as *;

.article-card {
  background: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: rem(16);
}

.article-card__img {
  width: calc(121 / 262 * 100%);
}

.article-card__img img {
  aspect-ratio: 121 / 90;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.articles__card:nth-child(n + 2) {
  margin-top: rem(24);
}

.article-card__textBox {
  width: calc(125 / 262 * 100%);
  margin-left: rem(16);
  color: $main-font;
}

.article-card__date {
  font-family: $en-font-family;
  font-size: rem(12);
  vertical-align: top;
}

.article-card__title {
  font-weight: 500;
  font-size: rem(16);
  line-height: 1;
}

.article-card:hover {
  cursor: pointer;
  transform: translateY(-0.3125rem);
}
