@use "global" as *;

.blog-list {
}

.blog-list__inner.inner {
 
}

.blog-list__contents {
  
  @include mq(md) {
    display: flex;
    gap: rem(80);
  }
}

.blog-list__bg {
  position: relative;
}

.blog-list__bg::before {
  position: absolute;
  content: "";
  background-image: url(./../images/common/voice-pc-bg-fishs.webp);
  background-size: contain;
  background-repeat: no-repeat;
  top: rem(-28);
  left: calc(50% - min(46vw, rem(320)));
  width: rem(120);
  height: rem(55);
  z-index: 2;
  @include mq(md) {
    width: rem(300);
    height: rem(138);
    top: rem(72);
    left: calc(50% - min(48.5vw, rem(620)));
    z-index: -1;
  }
}

.blog-list__cards {
  margin-top: rem(46);
  padding-left: rem(5);
  padding-right: rem(5);
  @include mq(md) {
    margin-top: rem(143);
    padding-left: 0;
    padding-right: 0;
  }
}

.blog-list__main {
  max-width: rem(600);
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
    max-width: 100%;
  }
}

.blog-list__side {
  margin-top: rem(93);
  @include mq(md) {
    margin-top: rem(150);
  }
}
