@use "global" as *;

.blog-side {
  max-width: 100%;
  margin-inline: auto;
  // width: 100%;
  width: max(rem(294), 75vw);
  @include mq(md) {
    max-width: rem(294);
    width: 100%;
  }
}

.blog-side__contents:nth-child(n + 2) {
  margin-top: rem(87);
}

.blog-side__popular-articles {
  margin-top: rem(30);
}

.blog-side__review-card {
  margin-top: rem(30);
}

.blog-side__btn {
  text-align: center;
  margin-top: rem(44);
}

.blog-side__card {
  margin-top: rem(34);
  transition: 0.3s;
}

.blog-side__card:nth-child(2) {
  margin-top: rem(36);
}

.blog-side__card:hover {
  cursor: pointer;
  transform: translateY(-0.3125rem);
}

.blog-side__accordions {
  margin-top: rem(36);
}

.blog-side__accordion {
  color: $accent;
  font-size: rem(24);
}

.blog-side__accordion-year {
  padding-left: rem(31);
  position: relative;
}

.blog-side__accordion-month {
  text-indent: rem(24);
  padding-left: rem(30);
  position: relative;
}

.blog-side__accordion-year:hover,
.blog-side__accordion-month:hover {
  cursor: pointer;
}

.blog-side__accordion-month::before,
.blog-side__accordion-year::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0px 11px 20px;
  border-color: transparent transparent transparent $accent;
  top: 50%;
  transform: translateY(-50%);
  left: rem(26);
}

.blog-side__accordion-month::before {
  left: rem(30);
}

.blog-side__accordion-year::before {
  left: 0;
  transition: 0.3s;
}

.blog-side__accordion-year.js-open::before {
  transform: rotate(90deg);
  top: 30%;
}

.blog-side__accordion-lists {
  display: none;
  margin-top: rem(4);
  // line-height: 1.8;
}

.blog-side__accordion:nth-child(n + 2) {
  margin-top: rem(6);
}

// 下層ブログ詳細
.blog-side__accordions--detail {
  @include mq(md) {
    margin-top: rem(26);
  }
}
