@use 'global' as *;

.blog-content__date {
  color: $main-font;
  font-family: $en-font-family;
  font-size: rem(14);
  line-height: calc(18 / 14);
  vertical-align: top;
}

.blog-content__title {
  color: $main-font;
  font-size: rem(24);
  font-weight: 500;
  line-height: calc(35 / 24);
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent;
  @include mq(md) {
    font-size: rem(32);
    line-height: calc(46 / 32);
    padding-bottom: rem(1);
  }
}

.blog-content__box > * {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-content__img {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-content__img img {
  aspect-ratio: 345 / 231;
  width: 100%;
  height: auto;
  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}

.blog-content__text {
  line-height: calc(24 / 16);
}

.blog-content__list {
  padding-left: rem(27);
  position: relative;
}

.blog-content__list::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/hitode-green.webp);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(18);
  height: rem(18);
  top: rem(5);
  left: 0;
  // transform: translateY(-50%);
}

.blog-content__list:nth-child(n + 2) {
  margin-top: rem(4);
}

.blog-content__pagenation {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(86);
  }
}