@use 'global' as *;

.blog {
  @include mq(md) {
    background-image: url(../../assets/images/common/blog-pc-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: top center;
    width: 100%;
    position: relative;
  }
}

.blog::before {
  @include mq(md) {
    display: block;
    box-sizing: content-box;
    position: absolute;
    content: "";
    background-image: url(../../assets/images/common/blog-pc-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: rem(24);
    left: rem(100);
    width: rem(376);
    height: rem(120);
    z-index: 2;
  }
}

.blog__cards {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(80);
    display: flex;
  }
}

.blog__card:nth-child(n + 2) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
  }
}


.blog__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}