@use 'global' as *;

.blog {
  @include mq(md) {
    position: relative;
  }
}

.blog__inner.inner {
  max-width: 600px;
  width: 100%;
  margin: auto;
  @include mq(md) {
    max-width: rem(1130);
  }
}

// お魚
.blog::before {
  @include mq(md) {
    display: block;
    box-sizing: content-box;
    position: absolute;
    content: "";
    background-image: url(./../images/common/blog-pc-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: rem(24);
    // left: rem(100);
    left: calc(50% - min(48.5vw, rem(600)));
    width: rem(376);
    height: rem(120);
    z-index: 2;
  }
}

// PC時の背景
.blog::after {
  @include mq(md) {
    position: absolute;
    content: "";
    background-image: url(./../images/common/blog-pc-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: rem(500);
    width: 100%;
    z-index: -1;
  }
}

.blog__card {
  width: 100%;
  @include mq(md) {
    width: calc(33.333% - rem(40) * 2 / 3);
  }
}

.blog__cards {
  margin-top: rem(32); //24
  @include mq(md) {
    margin-top: rem(80);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.blog__card:nth-child(n + 2) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.blog__card:nth-child(n + 4) {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog__card:nth-child(3n + 1) {
  @include mq(md) {
    margin-left: 0;
  }
}


.blog__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}