@use 'global' as *;

.blog-cards {
  display: block;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.blog-cards__card:nth-child(n + 2){
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}
