@use 'global' as *;

body {
  position: relative;
}

// ドロワー展開時、下をスクロールさせない
// jQueryで.active付与
.body.js-active {
  height: 100%;
  overflow: hidden;
}

// 2560px時下に余白が空くので、bodyに背景色追加
.body-404 {
  background-color: $accent;
}