@use 'global' as *;

.campaign__cards {
  margin-right: calc(50% - 50vw);
  margin-top: rem(24);
  @include mq(md) {
    position: relative;
    margin-top: rem(40);
  }
}

.campaign__arrow {
  display: none;
  @include mq(md) {
    display: flex;
    position: absolute;
    top: rem(-104);
    right: 15%;
  }
}

.campaign__btn {
  text-align: center;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(72);
  }
}