@use 'global' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.card__img {
  position: relative;
}

.card__img::before {
  content: "";
  display: block;
  padding-top: 67.1428%;
  @include mq(md) {
    padding-top: 67.7604%;
  }
}

.card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card__body {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: rem(16) rem(16) rem(24);
  // height: auto;
  width: 100%;
  @include mq(md) {
    padding: rem(24) rem(16) rem(36);
  }
}

.card__category {
  font-size: rem(12);
  font-weight: 400;
  line-height: calc(22 / 12);
  color: $accent;
  border: 1px solid $accent;
  padding: rem(4) rem(12);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  @include mq(md) {
    padding: rem(5) rem(16);
  }
}

.card__title {
  font-size: rem(16);
  color: $main-font;
  line-height: calc(24 / 16);
  font-weight: 500;
  margin-top: rem(4);
  flex-grow: 1;
}

.card__text {
  margin-top: rem(8);
  padding-top: rem(8);
  border-top: 1px solid $accent;
  font-size: rem(14);
  line-height: calc(24 / 14);
  text-align: center;
  @include mq(md) {
    padding-top: rem(16);
    letter-spacing: 0.07em;
    font-size: rem(16);
  }
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: rem(8);
  font-family: $mv-font;
}

.card__low-price {
  font-size: rem(20);
  line-height: 1;
  font-weight: 700;
  color: $main-font;
  text-decoration: line-through 4px #C94800;
  @include mq(md) {
    // font-size: rem(28);
    font-size: clamp(rem(16), 1.6vw, rem(28));
  }
}

.card__active-price {
  font-size: rem(32);
  font-weight: 700;
  line-height: 1;
  color: $accent;
  margin-left: rem(16);
  @include mq(md) {
    // font-size: rem(40);
    font-size: clamp(rem(24), 2.7vw, rem(40));
  }
}

