@use 'global' as *;


.common-btn {
  display: inline-block;
  text-decoration: none;
  padding: rem(16) rem(80) rem(16) rem(40);
  background-color: #408F95;
  border: 1px solid #408F95;
  color: #fff;
  font-size: rem(14);
  font-family: $en-font-family;
  line-height: calc(22 / 14);
  font-weight: 400;
  // overflow: hidden;
  position: relative;
  z-index: 1;
}

// 背景線
.common-btn::before {
  position: absolute;
  display: inline-block;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  content: '';
  border: 1px $accent solid;
  z-index: -2; //背景色より下にくると透けない
}

.common-btn::after {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.common-btn:hover {
  color: #408F95;
}

.common-btn:hover::after {
  transform: scale(1, 1);
}

.common-btn__arrow {
  margin-left: rem(8);
}

// 矢印
.common-btn__arrow::before {
  position: absolute;
  content: "";
  width: rem(40);
  height: rem(1);
  background-color: #FFFFFF;
  top: 50%;
  right: rem(40);
  transform: translateY(-50%);
}

.common-btn__arrow::after {
  position: absolute;
  content: "";
  width: rem(1);
  height: rem(10);
  background-color: #FFFFFF;
  top: calc(50% - rem(8));
  right: rem(44);
  transform: translateY(calc(-50% + rem(4))) rotate(-45deg);
}

// hover時の矢印の色変更
.common-btn:hover .common-btn__arrow::before {
  background-color: #408F95;
}

.common-btn:hover .common-btn__arrow::after {
  background-color: #408F95;
}

// 下層コンタクトフォーム sendボタン 余白調整
.common-btn.common-btn--contact-form {
  padding: rem(16) rem(106) rem(15) rem(55);
}

.common-btn__arrow.common-btn__arrow--sub-contact::before {
  right: rem(59);
}
.common-btn__arrow.common-btn__arrow--sub-contact::after {
  right: rem(63);
}

//404
.common-btn.common-btn--error {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: $accent;
  padding: rem(16) rem(90) rem(16) rem(40);
}

.common-btn.common-btn--error::before {
  border: 1px #fff solid;
}

.common-btn__arrow.common-btn__arrow--error::before {
  background-color: $accent;
}

.common-btn__arrow.common-btn__arrow--error::after {
  background-color: $accent;
}