@use 'global' as *;

.contact-form__form {
  max-width: rem(600);
  margin-inline: auto;
  @include mq(md) {
    max-width: rem(700);
    width: 100%;
  }
}

.contact-form__bg.sub-bg::before {
  left: calc(50% - min(46vw, 30.5rem));
}