@use 'global' as *;

.error__container {
  position: relative;
  text-align: center;
  color: $white;
  padding: rem(60) 0 rem(27);
  z-index: 1;
  @include mq(md) {
    padding: rem(119) 0 rem(148);
  }
}

.error__container::before {
  position: absolute;
  content: "";
  background-image: url(./../images/common/404.webp);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(328);
  height: rem(293);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error__title {
  font-size: rem(80);
  line-height: calc(96 / 80);
  font-family: $mv-font;
  font-weight: 400;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq(md) {
    font-size: rem(160);
  }
}

.error__text {
  font-family: $mv-font;
}

.error__btn {

}