@use 'global' as *;

.footer-nav {
  display: flex;
  justify-content: space-around;
  line-height: calc(18 / 16);
  @include mq(md) {
    gap: 0;
    justify-content: left;
  }
}

.footer-nav__left-items:nth-child(n + 2),
.footer-nav__right-items:nth-child(n + 2){
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}

.footer-nav__left,
.footer-nav__right {
  // width: 50%;
  @include mq(md) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: rem(274);
    width: 48%;
    column-gap: rem(48);
    row-gap: rem(16);
  }
}

.footer-nav__right {
  @include mq(md) {
    margin-left: rem(40);
  }
}

.footer-nav__left-item a,
.footer-nav__right-item a {
  display: block;
  padding: rem(12) 0;
  padding-left: rem(24);
}

.footer-nav__left-item--first a,
.footer-nav__right-item--first a {
  font-weight: 700;
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-position-y: rem(12);
  background-position-x: rem(-2);
}

.footer-nav__left-item:hover,
.footer-nav__right-item:hover {
  opacity: 0.7;
}

// サイトマップ
.footer-nav__left-item--site-map a,
.footer-nav__right-item--site-map a {
  font-weight: 700;
  background-image: url(../images/common/hitode-black.webp);
  background-repeat: no-repeat;
  background-position-y: rem(12);
  background-position-x: rem(2);
  width: 100%;
}

.footer-nav__right--site-map {
  // padding-left: rem(20);
  @include mq(md) {
    margin-left: rem(72);
    padding-left: 0;
    column-gap: rem(92);
  }
}

.footer-nav__left--site-map {
  @include mq(md) {
    column-gap: 80px;
  }
}

