@use 'global' as *;

.footer__nav {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(12);
  }
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  @include mq(md) {
    gap: rem(60);
  }
}

.footer-nav__left-items:nth-child(n + 2),
.footer-nav__right-items:nth-child(n + 2){
  margin-top: rem(16);
}

.footer-nav{
  line-height: calc(18 / 16);
}

.footer-nav__left,
.footer-nav__right {
  @include mq(md) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: rem(226);
    width: 48%;
    column-gap: rem(120);
    row-gap: rem(16);
  }
}

.footer-nav__right {
  // margin-left: rem(20);
}

.footer-nav__left-item:first-child a,
.footer-nav__right-item:first-child a {
  font-weight: 700;
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-position-y: rem(14);
  padding-left: rem(24);
}

.footer-nav__left-item a,
.footer-nav__right-item a {
  display: inline-block;
  padding: rem(12) 0;
  padding-left: rem(24);
}
