@use 'global' as *;

.mv__swiper {
  position: relative;
  width: 100%;
}

.mv__img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.mv__header {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: $white;
  z-index: 1;
  text-align: center;
  animation-delay: 5s;
}

.mv__main-title {
  font-size: rem(40);
  font-weight: 400;
  letter-spacing: 0.6em;
  line-height: calc(48 / 40);
  text-transform: uppercase;
  -webkit-text-stroke: 1px $black;
  text-stroke: 1px $black;
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
    letter-spacing: 0.49em;
  }
}

.mv__sub-title {
  font-family: $en-font-family;
  font-size: rem(20);
  font-weight: 400;
  margin-left: rem(-20);
  line-height: calc(33 / 20);
}

