@use 'global' as *;

.mv__swiper {
  position: relative;
  width: 100%;
}

.mv__img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.mv__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  z-index: 1;
  text-align: center;
  // animation: fadein-mvheader 5s linear;
  animation-delay: 5s;
}

// @keyframes fadein-mvheader{
//   0%{
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

.mv__main-title {
  // font-family: $mv-font;
  font-size: rem(40);
  font-weight: 400;
  letter-spacing: 0.49em;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
    letter-spacing: 0.49em;
  }
}

.mv__sub-title {
  font-family: $en-font-family;
  font-size: rem(20);
  font-weight: 400;
  line-height: calc(33 / 20);
}
