@use 'global' as *;

.pc-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item {
  color: $white;
  padding: 0 rem(20);
  height: inherit;
}

.pc-nav__item:last-child {
  padding-right: 0;
}

.pc-nav__item:first-child {
  padding-left: 0;
}

.pc-nav__item a {
  text-align: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pc-nav__item a::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: rem(24);
  left: 0;
  width: 100%;
  height: rem(1);
  background-color:#fff;
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1)
}

.pc-nav__item-en {
  font-size: rem(18);
  font-family: $en-font-family;
  line-height: 1;
  text-transform: capitalize;
}

.pc-nav__item-en.en-text {
  text-transform: uppercase;
}

.pc-nav__item-ja {
  font-size: rem(10);
  line-height: calc(15 / 10);
  margin-top: rem(4);
}