@use 'global' as *;

.pc-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item {
  color: $white;
  padding: 0 rem(20);
  height: inherit;
}

.pc-nav__item:last-child {
  padding-right: 0;
}

.pc-nav__item:first-child {
  padding-left: 0;
}

.pc-nav__item a {
  display: block;
  text-align: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-nav__item-en {
  // display: block;
  font-size: rem(18);
  font-family: $en-font-family;
  line-height: 1;
  text-transform: capitalize;
}

.pc-nav__item-en.en-text {
  text-transform: uppercase;
}

.pc-nav__item-ja {
  // display: block;
  font-size: rem(10);
  line-height: calc(15 / 10);
  margin-top: rem(4);
}