@use 'global' as *;

.price {
  background-color: #DDF0F1;
  @include mq(md) {
    position: relative;
  }
}

.price::after {
  @include mq(md) {
    position: absolute;
    content: "";
    background-image: url(./../images/common/price-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: rem(48);
    left: calc(50% - min(48.5vw, rem(650)));
    width: rem(437);
    height: rem(201);
  }
}

.price__container {
  margin-top: rem(32);
  max-width: rem(600);
  width: 100%;
  margin: auto;
  @include mq(md) {
    max-width: 100%;
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    // justify-content: space-between;
    align-items: flex-start;
  }
}

.price__img  {
  position: relative;
  // display: block;
  width: 50%;
  margin-left: rem(96);
}

.price__img::before {
  content: "";
  display: block;
  padding-top: 65.7971%;
  @include mq(md) {
    padding-top: 151.6260%;
  }
}

.price__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.js-color {
  position: relative;
}

.js-color .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #10404c;
}

.js-color img {
  display: block;
  width: 100%;
}

.price__contents {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    width: 48%;
  }
}

.price__content {
  color: $main-font;
}

.price__content:nth-child(n + 2) {
  margin-top: rem(40);
}

.price__title {
  font-weight: 700;
  line-height: calc(24 / 16);
  border-bottom: 1px solid $accent;
  padding-bottom: rem(2);
  @include mq(md) {
    padding-bottom: rem(4);
  }
}

.price__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  font-weight: 400;
  line-height: calc(24 / 14);
  margin-top: rem(8);
}

.price__menu dd {
  margin-left: rem(16);
}

.price__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
