@use 'global' as *;

.price-list {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    max-width: rem(700);
    width: 100%;
  }
}

.price-list__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: rem(8);
  background-color: $accent;
  color: $white;
  padding: rem(8) 0;
  width: 100%;

  @include mq(md) {
    flex-direction: column-reverse;
    width: 28.5%;
    padding: 0;
  }
}

.price-list__icon {
  
}

.price-lis__icon img {
  width: rem(24);
  @include mq(md) {
    width: rem(64);
  }
}

.price-list__title {
  font-size: rem(16);
  line-height: calc(24 / 16);
}

.price-list__menu-box {
  // border: 1px solid $accent;
  @include mq(md) {
    width: 71.5%;
    border-top: 1px solid $accent;
  }
}

.price-list__menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $accent;
  border-right: 1px solid $accent;
  border-left: 1px solid $accent;
}

.price-list__name {
  padding: rem(6) rem(8);
  text-align: center;
  width: 69.5%;
  @include mq(md) {
    text-align: left;
    padding: rem(6) rem(14);
    width: 67.6%;

  }
}

.price-list__price {
  width: 30.5%;
  text-align: center;
  border-left: 1px solid $accent;
  padding: rem(17) rem(15);
  text-align-last: right;
  @include mq(md) {
    width: 32.4%;
  }
  
}