@use 'global' as *;

.section-title {
  text-align: center;
}

.section-title__main {
  font-size: 32px;
  line-height: 1.25;
  color: #0D2936;
  font-weight: 400;
}

.section-title__main span {
  color: #408F95;
}

.section-title__sub {
  color: #408F95;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 4px;
}

.section-btn {
  text-align: center;
}