@use 'global' as *;

.section-title {
  text-align: center;
}

.section-title__main {
  font-size: rem(32);
  line-height: 1.25;
  color: #0D2936;
  font-weight: 400;
  font-family: $en-font-family;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main::first-letter {
  color: #408F95;
  text-transform: uppercase;
}

.section-title__sub {
  color: #408F95;
  font-size: rem(12);
  font-weight: 400;
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}

// blog-title
.section-title__main--blog {
  @include mq(md) {
    color: $white;
  }
}

.section-title__main--blog::first-letter {
  @include mq(md) {
    color: #DDF0F1;
  }
}

.section-title__sub--blog {
  @include mq(md) {
    color: $white;
  }
}

// contact
.section-title__main--contact {
  font-size: rem(80);
  line-height: 1;
  @include mq(md) {
    font-size: rem(80);
  }
}

.section-title__sub--contact {
  margin-top: rem(-4);
  font-size: rem(12);
  @include mq(md) {
    margin-top: 0;
  }
}