@use 'global' as *;

.sp-nav {
  display: none;
  background-color: $accent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s;
}

.sp-nav__container {
  display: flex;
  justify-content: space-around;
}

.sp-nav__wrapper {
  // width: rem(148);
}

.sp-nav__wrapper:nth-child(2) {
  margin-left: rem(7);
}

.sp-nav.is-open {
  display: block;
  background-color: $accent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: rem(15);
}

.sp-nav__item {
  color: $white;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.sp-nav__main {
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-position-y: rem(3);
  margin-top: rem(40);
}

.sp-nav__main a {
  display: inline-block;
  margin-left: rem(22);
  font-weight: 700;
}

.sp-nav__sub {
  padding-left: rem(22);
}

.sp-nav__sub a {
  display: inline-block;
  padding: rem(12) 0;
}

.sp-nav__sub:nth-child(4) a {
  padding-bottom: 0;
}

.sp-nav__item li:nth-child(2) {
  margin-top: rem(12);
}

