@use 'global' as *;

.sp-nav {
  display: none;
  background-color: $accent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: rem(80);
  left: 0;
  right: 0;
  z-index: -10;
  transition: all 0.5s;
  overflow-y: scroll;
}

.sp-nav__container {
  display: flex;
  justify-content: space-around;
  padding-bottom: rem(150);
}

.sp-nav__wrapper:nth-child(2) {
  margin-left: rem(7);
}

.sp-nav.is-open {
  display: block;
  background-color: $accent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: rem(15);
}

.sp-nav__items {
  color: $white;
  font-size: rem(16);
  line-height: calc(18 / 16);
  margin-top: rem(28);
}

.sp-nav__item a {
  display: block;
  padding: rem(12) 0 rem(12) rem(22);
}

.sp-nav__item--first a {
  font-weight: 700;
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-position-y: rem(12);
}

