@use 'global' as *;

.sub-faq__container {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  max-width: rem(700);
  width: 100%;
  margin-inline: auto;
}

.sub-faq__q {
  background-color: $accent;
  color: $white;
  line-height: calc(23 / 16);
  padding: rem(16);
  position: relative;
  @include mq(md) {
    padding: rem(26) rem(40);
    font-size: rem(20);
    line-height: calc(29 / 20);
  }
}

.sub-faq__q span {
  position: absolute;
  background-color: $white;
  width: 100%;
}

.sub-faq__q span:nth-child(1) { //横
  width: rem(26);
  height: rem(1);
  top: 50%;
  right: 0;
  transform: translateX(-50%);
  @include mq(md) {
    width: rem(32);
    right: rem(25);
  }
}

.sub-faq__q span:nth-child(2) { //縦
  width: rem(1);
  height: rem(26);
  top: 27%;
  right: rem(26);
  @include mq(md) {
    height: rem(32);
    right: rem(57);
    top: 30%;
  }
}

.sub-faq__a {
  color: $main-font;
  padding: rem(24) rem(16);
  border: 1px solid $accent;
  @include mq(md) {
    padding: rem(40);
    margin-top: rem(16);
  }
}