@use 'global' as *;

.sub-mv {
  position: relative;
}

.sub-mv__img img {
  height: rem(460);
  @include mq(md) {
    height: rem(548);
  }
}

.sub-mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-mv__title p {
  font-size: rem(40);
  line-height: calc(48 / 40);
  font-weight: 400;
  font-family: $mv-font;
  color: $white;
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}