@use "global" as *;

.sub-about-pictures__contents {
  display: grid;
  gap: rem(8);
  @include mq(md) {
    max-width: rem(1080);
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.sub-about-pictures__content {
  aspect-ratio: 345 / 219;
  width: 100%;
  height: 100%;
  @include mq(md) {
    aspect-ratio: 580 / 369;
  }
}

.sub-about-pictures__content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// 1枚目(縦長)
.sub-about-pictures__content:nth-child(6n + 1) {
  aspect-ratio: 345 / 523;
  @include mq(md) {
    aspect-ratio: 492 / 746;
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
  }
}

// 2枚目
.sub-about-pictures__content:nth-child(6n + 2) {
  @include mq(md) {
    grid-column: span 5 / 10;
    grid-row: span 2 / span 2;
  }
}

// 3枚目
.sub-about-pictures__content:nth-child(6n + 3) {
  grid-column: span 5 / 10;
  grid-row: span 2 / span 2;
}

// 4枚目
.sub-about-pictures__content:nth-child(6n + 4) {
  grid-column: 1 / span 5;
  grid-row: span 2 / span 2;
}

// 5枚目
.sub-about-pictures__content:nth-child(6n + 5) {
  grid-column: 1 / span 5;
  grid-row: span 2 / span 2;
}

// 6番目(縦長)
.sub-about-pictures__content:nth-child(6n + 6) {
  aspect-ratio: 524 / 345;
  @include mq(md) {
    aspect-ratio: 492 / 746;
    grid-column: span 4 / 10;
    grid-row: span 4 / span 4;
  }
}

// grid-column: span 4 / 10;
//     grid-row: span 4 / 9;