@use 'global' as *;

.sub-breadcrumb {
  padding: rem(8) 0;
}

.sub-breadcrumb p {
  font-size: rem(14);
  line-height: calc(20 / 14);
  letter-spacing: 0.05em;
}

//404ページheader分の高さ
.sub-breadcrumb--error {
  color: $white;
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(90);
  }
}