@use 'global' as *;

.tab__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, rem(160));
  gap: rem(16) rem(20);
  @include mq(md) {
    grid-template-columns: repeat(auto-fit, rem(153));
    gap: rem(16) rem(32);
  }
}

.tab__list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  color: $accent;
  border: 1px solid $accent;
  font-size: rem(14);
  line-height: calc(22 / 14);
  padding: rem(5) 0;
  width: 100%;
  transition: 0.3s;
}

.tab__list--en {
  text-transform: uppercase;
  background-color: $accent;
  color: $white;
}

.tab__list:hover {
  background-color: $accent;
  color: $white;
  cursor: pointer;
}
