@use 'global' as *;

.thanks__inner {
  text-align: center;
  color: $main-font;
  
}

.thanks__title {
  line-height: calc(18 / 16);
}

.thanks__text {
  margin-top: rem(40);
  line-height: calc(23 / 16);
}