@use 'global' as *;

.to-top  {
  position: fixed;
  right: rem(15);
  bottom: rem(15);
  z-index: 1;
  @include mq(md) {
    right: rem(20);
    bottom: rem(20);
  }
}

.to-top a {
  display: block;
  width: rem(48);
  height: rem(48);
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}