@use 'global' as *;

.voice-cards {
  display: block;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}

.voice-cards__card:nth-child(n + 2) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}

