@use 'global' as *;

.voice__cards {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(30);
    display: flex;
  }
}

.voice__card:nth-child(n + 2) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.voice__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}